body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    background-color: rgba(255, 255, 255, 0.986);
}

/* h1 {
    text-align: center;
} */


.navigationForm {
    /* background-color: red; */
    background-image: url(Images/cameroun.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    height: 50px;
    flex: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    margin-top: 1em;
    margin-left: 4em;
    margin-right: 4em;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navigationForm a,span {
    color: #f7ecec;
    text-decoration: none;

    display: inline-block;
    text-align: center;
}
.navigationForm span {
    padding-left: 1em;
}
.navigationForm .déroulantForm:hover .déroulantMenuForm {
    display: block;
}

.déroulantMenuForm a {
    display: block;
    float: none;
    color: rgb(244, 255, 255);
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0.5em;
    text-decoration: none;
    text-align: left;
    font-size: medium;
    border-radius: 10px;
}

.déroulantMenuForm a:hover {
    background-color: rgb(136, 4, 4);
}

.déroulantMenuForm  {
    position: absolute;
    /* background-color: red; */
    background-image: url(Images/cameroun.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;
    display: none;
    min-width: 1em;
    border-radius: 25px;
}


.conteneur {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.conteneurBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.conteneurBtn button {
    width: 100%;
    padding: 0.35em;
    margin-top: 0.25em;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 0.5em;
    font-size: 1em;
    cursor: pointer;
}

.conteneurBtn button:hover {
    background-color: #0e8114
}

fieldset {
    margin-bottom: 0.35em;
    border-radius: 0.5em;
    background-color: rgb(217, 226, 226);
}

fieldset div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

fieldset input {
    width: 60%;
    border-radius: 0.25em;
}

fieldset select {
    width: 62%;
}

.confirmation div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
 .confirmation input {
    width: auto;
}

legend {
    font-weight: bold;
}
